body {
    margin: 0;
    background-color: #202937;

    border-radius: 5px;
}

#data-entry {
    background-color: #7140FC;
    background-size: cover;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 30px;
    border: solid 10px #7140FC;
    border-radius: 5px;
}

#convert-btn {
    font-size: large;
    font-weight: bold;
    background-color: #FFFFFF;
    color: #7140FC;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin-top: 10px;
}

#data-entry input {
    font-size: xx-large;
    font-weight: bolder;
    color: #FFFFFF;
    width: 100px;
    height: 100px;
    border-radius: 5px;
    border: 1px solid #B190FC;
    background: #7140FC;
    margin: 20px 20px;
    text-align: center;
}

#conversions {
    background-color: #202937;
    background-size: 100%;
    padding-top: 1px;
    border: solid 10px #202937;
    border-radius: 5px;
}

#meters-feet, #liters-gallons, #kilograms-pounds {
    background-color: #283548;
    margin: 10px 15px;
    padding: 10px;
    border: solid 1px #3E4A5E;
    border-radius: 5px;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    margin-top: 30px;
    padding-bottom: 20px;
}

.conversion-heading {
    color: #CEC1FD;
}

.conversion-data {
    color: #989EA7;
}