body {
    margin: 0;
    background-color: #f7f3e9;
    font-family: 'Rock Salt', cursive;
}

h1 {
    margin-bottom: 0.2em;
    line-height: 1.1;
    font-size: clamp(1.8rem, 4vw, 3rem);
}

h2 {
    margin-top: 0;
}

#header {
    background-image: url(images/naruto-themed-interior-image.png);
    background-size: cover;
    background-position: center;
    height: 200px;
    align-items: center;
    justify-content: center;
    color: white;
    align-content: center;
    justify-items: center;
    font-size: 28px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.7);
    padding: 0;
}

#menu-container {
    display: flex;
    flex-direction: column;
    gap: 18px;
    margin-top: 25px;
    padding: 0 25px 16px 25px;
}

.menu-item-inner {
    display: flex;
    align-items: center;
    flex-grow: 1;
    gap: 12px;
}

.menu-copy {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.menu-item-image {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 12px;
    display: flex;
    align-items: center;
    gap: 12px;;
    width: 80px;
    height: 80px;
    object-fit: cover;
    border: none;
}

.menu-item p {
    margin: 0;
}

.menu-item-btn {
    display: flex;
    flex-direction: column;
    gap: 18px;
    flex-shrink: 0;
    margin-left: auto;
}

.menu-copy {
    display: flex;
    flex-direction: column;
    flex: auto;
}

.menu-item-btn {
    border: solid 1px #ff6600;
    background-color: #ff6600;
    color: white;
    padding: 18px 24px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
}

.menu-divider {
    border: none;
    border-top: 1px solid #ddd;
    width: 100%;

}

.hidden {
    display: none;
}

#checkout-btn:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.remove-item-btn {
    background-color: transparent;
    border: none;
    color: #ff6600;
    font-size: 14px;
    cursor: pointer;
}

#complete-order-btn {
    background-color: #ff6600;
    color: white;
    border: none;
    padding: 18px 24px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
}

#order-section {
    padding: 16px 25px;
    justify-items: center;
    align-items: center;
}