body {
    margin: 0;
} 

#menu-container {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.menu-item-inner {
    display: flex;
    align-items: center;
    flex-grow: 1;
    gap: 12px;
}

.menu-copy {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.menu-emoji {
    font-size: 40px;
    line-height: 1;
    flex-shrink: 0;
}

.menu-item p {
    margin: 0;
}

.menu-item-btn {
    display: flex;
    flex-direction: column;
    gap: 18px;
    flex-shrink: 0;
}